* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-decoration: none;
    list-style: none;
    background-color: #354F52;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Notable";
    src: url('../font/Notable-Regular.ttf');
}

/* desktop */

#article-container article p::first-letter {
    font-size: 25px;
}

#article-container article p {
    text-indent: 2%;
    font-size: 1rem;
    line-height: 25px;
}

#article-container article a:visited {
    color: #96b99e;
}

#header-menu {
    background-color: #84A98C;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

#menu {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-right: 20px;
    line-height: 7em;
}

#menu li a {
    text-decoration: none;
    color: #354F52;
    font-weight: bold;
    font-size: 20px;
}

.active {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

#ham-icon {
    width: 40px;
    height: 40px;
}

#ham-check {
    display: none;
}

.ham-button {
    display: none;
}

#menu li a:hover {
    color: #ffffff;
    font-size: 25px;
    transition: 0.7s;
}

#logo {
    margin: 10px 0 5px 10px;
    width: 33%;
}

#header-menu h1,
h2 {
    margin: 5px 0 0 10px;
}

#promo-video {
    display: block;
    margin: 20px auto;
    border-width: thick;
    border-style: double;
    border-color: #ffffff;
}

#flex-container {
    display: flex;
}

#article-container figure {
    float: right;
}

#article-container {
    margin: 10px;
    width: 75%;
}

#article-container article:not(:first-of-type) {
    margin-top: 5%
}

#article-container figure img {
    border-radius: 8px;
    width: 300px;
    height: 170px;
}

#articls-aside {
    width: 25%;
    margin: 10px;
    color: #354F52;
    padding: 25px;
    background-color: #CAD2C5;
    word-spacing: 4px;
    line-height: 30px;
    letter-spacing: 0px;
    flex-grow: 0;
    flex-shrink: 0;
}

#cookie-stat {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px;
    margin: 10px;
    background-color: #FA0;
    opacity: 50%;
    color: #FFF;
    z-index: 9999;
}

#footer {
    background-color: #84A98C;
    height: 50px;
    line-height: 30px;
    padding: 10px;
}

#info {
    padding: 10px;
    margin: 10px;
}

#info ul {
    list-style: none;
}

#contact-container {
    display: flex;
}

#contact-form {
    margin: 10px;
    width: 75%;
}

#form-fields {
    display: flex;
    flex-direction: column;
}

#form-fields input,
textarea {
    padding: 10px;
    margin: 10px
}

#form-fields label {
    margin: 10px 12px;
}

#form-fields input[type="submit"] {
    cursor: pointer;
    background-color: #84A98C;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

#form-fields input[type="submit"]:hover {
    background-color: #96b99e;
}

#contact-aside {
    margin: 10px;
}

#contact-aside ul {
    list-style: none;
}

#contact-aside ul li img {
    width: 200px;
    margin: 12px;
}

#price-container {
    display: flex;
}

#price-overview {
    margin: 10px;
}

#price-table {
    width: 75%;
    margin: 10px;
}

#price-table table {
    width: 100%;
    margin-bottom: 10px;
    white-space: nowrap;
    border-collapse: collapse;
}

#price-table table tr,
td {
    border: 1px solid #ffffff;
    padding: 10px;
}

#price-table table tbody tr:nth-child(even) {
    background-color: #CFF;
    color: black;
}

#price-table table tbody tr:nth-child(odd) {
    background-color: #FFF;
    color: black;
}

#price-table table td:first-child {
    color: #FF0;
    font-family: 'Notable';
}

#price-table table thead>tr {
    background-color: #84A98C;
}

#price-table table tr td {
    padding: 10px;
}

#price-table+#price-aside {
    margin: 10px;
}

#price-aside ul {
    list-style: none;
}

#price-aside ul li img {
    width: 200px;
    margin: 12px;
}

#prod-aside {
    margin: 10px;
}

#prod-article {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
}

#prod-article article {
    margin: 5px 0;
}

#article1 {
    grid-row: 1 / 3;
}

#article2 {
    grid-row: 1 / 9;
}

#article3 {
    grid-row: 1 / 5;
}

#article4 {
    grid-row: 3 / 10;
}

#article5 {
    grid-row: 5 / 9;
}

#article6 {
    grid-column: 2 / 4;
}

#prod-aside ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#prod-aside img {
    height: 300px;
}

/* Tab */

@media (max-width: 798px) {
    #article-container {
        display: flex;
        flex-direction: column-reverse;
    }

    #article-container article:not(:last-of-type) {
        margin-top: 5%
    }

    #article-container figure {
        float: left;
        margin-right: 10px;
    }

    #price-container {
        display: flex;
        flex-direction: column;
    }

    #price-overview {
        width: 96%;
    }

    #price-table {
        width: 97%;
        overflow: auto;
    }

    /* #price-aside { */
    #price-table+#price-aside {
        width: 96%;
    }

    #price-aside ul {
        display: flex;
        gap: 10px;
    }

    #price-aside ul li:first-child {
        display: none;
    }

    #price-aside ul li img {
        width: 90%;
        border-radius: 10px;
        height: 160px;
    }



    #article1 {
        grid-row: 1 / 3;
    }

    #article2 {
        grid-row: 1 / 12;
    }

    #article3 {
        grid-row: 3 / 36
    }

    #article4 {
        display: none;
    }

    #article5 {
        grid-row: 12 / span 24;
    }

    #article6 {
        grid-row: 37 / span 12;
        grid-column: 3 / 1;
    }

    #prod-aside img {
        height: 215px;
    }

    #prod-aside ul li:last-child {
        display: none;
    }

}

/* Mobile */

@media (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #flex-container {
        display: flex;
        flex-direction: column-reverse;
    }

    #articls-aside {
        width: 70%;
    }

    #article-container {
        width: 72%;
    }

    #article-container article {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #article-container figure img {
        width: 100%;
    }

    #promo-video {
        margin: 12px;
        width: 70%;
    }

    nav {
        display: none;
    }

    #menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
        padding: 20px;
        position: relative;
        background: #96b99e;
        top: 100%;
        right: 100%;
        width: 199%;
        line-height: 7em;
    }

    .ham-button {
        display: block;
        margin: 40px 5px;
        position: absolute;
        right: 5px;
    }

    #ham-check:checked~nav {
        display: block;
    }

    #contact-container {
        flex-direction: column;
    }

    #contact-form {
        width: 96%;
    }

    #contact-aside {
        width: 96%;
    }

    #contact-aside ul li img {
        width: 95%;
    }

    #article1 {
        grid-row: 4 / 4;
    }

    #article2 {
        grid-row: 5 / 5;
    }

    #article3 {
        grid-row: 3 / 3;
        display: block;
    }

    #article4 {
        grid-row: 1 / 3;
        display: block;
    }

    #article5 {
        display: none;
    }

    #article6 {
        display: none;
    }

    #prod-article {
        display: grid;
        grid-template-columns: auto 30%;
    }

    #prod-aside ul {
        display: block;
    }

    #prod-aside img {
        height: 215px;
        width: 95%;
        margin: 5px;
    }

    #prod-aside ul li:last-child {
        display: block;
    }

    #prod-aside {
        width: 99%;
    }


}